@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <body>

        <h1>Logging in </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Sipit nisi eu purus. Proin ut pede mauris eget ipsum. Integer vel quam nunc commodo consequat.

        </p>
        <div style="background-color:black;color:white;padding:20px;">
        </div>

        <form>
            First name:<br>
            <input type="text" name="firstname"><br>
            Last name:<br>
            <input type="text" name="lastname">
        </form>

        <a href="https://www.yle.fi">Our Information Security Policy</a>
    </body>
    <div class="row">
        <div class="col-md-3">

        </div>

    </div>

</div>
    
    </div>
</div>
